.chat {
  align-items: stretch;
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 920px;
}

.chat-participants {
  background-color: #fafafa;
  padding: 10px;
  width: 20%;
}

.participant {
  padding: 20px 10px;
  border-bottom: 1px solid #d2d2d2;
}

.participant-indicator {
  color: #909090;
  font-size: 12px;
  font-style: oblique;
  padding-left: 10px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.messages-area {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 80%;
  overflow-y: auto;
}

.message-single {
  align-self: flex-start;
  border-radius: 10px;
  background-color: #6ee7aa;
  margin-bottom: 10px;
  min-width: 200px;
  padding: 10px;
}

.message-single.my-message {
  align-self: flex-end;
  background-color: #dedede;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-box {
  border-top: 1px solid #dedede;
  height: 20%;
  padding: 15px;
}

.message-input {
  padding: 5px;
  width: 300px;
}
